<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>LoginAndLogoutProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <servlet>
  <servlet-name>LoginServlet</servlet-name>
  <servlet-class>com.loginproject.LoginServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>LoginServlet</servlet-name>
  <url-pattern>/login</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>LogoutServlet</servlet-name>
  <servlet-class>com.loginproject.LogoutServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>LogoutServlet</servlet-name>
  <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>ProfileServlet</servlet-name>
  <servlet-class>com.loginproject.ProfileServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>ProfileServlet</servlet-name>
  <url-pattern>/profile</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
  <servlet-name>ServletFirst</servlet-name>
  <servlet-class>com.loginproject.ServletFirst</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>ServletFirst</servlet-name>
  <url-pattern>/fservlet</url-pattern>
  </servlet-mapping>
  
  
  
  <filter>
  <filter-name>AuthFilter</filter-name>
  <filter-class>com.loginproject.AuthFilter</filter-class>
  </filter>
  
  <filter-mapping>
  <filter-name>AuthFilter</filter-name>
  <url-pattern>/fservlet</url-pattern>
  
  </filter-mapping>
  
  
  
  
  
</web-app>